/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Arizonia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 2.0rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --grey-light: #ebebed;
  --first-color-lighten: #34e7f8;
  --white-color: #fff;
  --body-color:#f5f6fd;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font:'Poppins', sans-serif;
  
  --normal-font-size: .938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 1000;
}

/*========== Responsive typography ==========*/

  :root {
    --normal-font-size: 1rem;
  }


/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color:var(--body-color);
  
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/


/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 20px 10%;
  background-color:var(--body-color);
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  display: flex;
}


/*=============== NAV ===============*/
.nav__logo a{
  color: var(--black-color);
  font-size: 1rem;
  display: flex;
  align-items: center;
}
.nav__logo a img{
  display: flex;
  max-width: 28px;
  margin-right: 5px;

  
}
.nav__menu{
   display: flex;
    color: var(--black-color);
    font-size: 0.8rem;
    column-gap: 3rem;
    transition: all .55s ease;
}
.nav__link a{
  color: var(--black-color);
  
}
.nav__link .active{
 color: var(--first-color-lighten);
}
.nav__link .inactive{
  display: none;
}
.nav__link:hover{
  color: var(--first-color-lighten);
  cursor: pointer;
 }
 .nav__icons{
  display: flex;

 }
 .dropdown__arrow{
  margin-left: 5px;
 }
 .nav__icons i{
  margin-right: 20px;
  color: var(--black-color);
 }
.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
  visibility: hidden;
}

.nav__menuicon,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--black-color);
  transition: opacity .1s, transform .4s;
}

.nav__close {
  opacity: 0;
}





/* Navigation for mobile devices */


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media (max-width:768px) {
  .header {
    top: 0.2rem;
    background-color:var(--body-color);
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    display: flex;
  }
  .nav__logo a img{
    width: 24px;
    height: 24px;
    margin-right: 2px;
  }
  .nav__logo a{
  font-size: 0.85rem;
  
  }
 .nav__toggle{
     visibility: visible;
 }
  .nav__toggle i{
    font-size: 1rem;
  }
    
  
  .icons{
    display: none;
  }
  
  .nav__menu {
    position: absolute;
    right: 0;
    background-color: var(--body-color);
    top: 2.5rem;
    width: 100%;
    height: calc(100vh - 3.5rem);
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    padding-block: 1.5rem 4rem;
    display: block;
    transition: top .4s, opacity .3s;

}

.nav__link {
  color: var(--black-color);
  background-color: var(--body-color);
  font-weight: var(--font-regular);
  padding: 1.25rem 1.5rem;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  transition: background-color .3s;
}
.nav__link a{
  color: var(--black-color);
  font-size: 14px;
}

.nav__link .inactive{
  display: contents;
  display: flex;
  column-gap: 0.5rem;

}
.nav__link .inactive i{
  font-size: 1rem;
 margin-right: 5px;
  
}
.nav__link .active{
  color: var(--black-color);
 }

/* Show menu */
.show-menu {
  opacity: 1;
  top: 3.5rem;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__menuicon {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
  cursor: pointer;

}

.dropdown__arrow {
  font-size: 1.25rem;
  right: 0;
  
  font-weight: initial;
  transition: transform .4s;
}
.dropdown__link{
  display: flex;
  align-items: center;
  color: black;
 
  font-size: 12px;
  row-gap: .25rem;
  width: 100%;
  padding:10px;
  background-color: var(--body-color);
 }

.dropdown__menu{
  height: 0;
  overflow: hidden;
  width: 100%;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.2);
  display:block;
  background-color: var(--body-color);
  padding-left: 1rem;
  padding-right: 1rem;
  
}




/* Rotate dropdown icon */
.show-dropdown .dropdown__arrow {
  transform: rotate(180deg);
}

/*=============== DROPDOWN SUBMENU ===============*/
.dropdown__add {
  margin-left: auto;
}



}
@media (min-width:768px){
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color:var(--body-color);
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    display: flex;
  }
  .Hero{
    
  }
  /*=============== NAV ===============*/
  .nav__logo a{
    color: var(--black-color);
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  .nav__logo a img{
    display: flex;
    max-width: 28px;
    margin-right: 5px;
  
    
  }
  .nav__menu{
      display: flex;
      color: var(--black-color);
      font-size: 0.8rem;
      column-gap: 3rem;
      align-items: center;
      transition: all .55s ease;
      justify-content: center;
  }
  .nav__link a{
    color: var(--black-color);
    
  }
  .nav__link a:hover{
    color: var(--first-color-lighten);
  }
  .nav__link .active{
   color: var(--first-color-lighten);
  }
  .nav__link .inactive{
    display: none;
  }
  .nav__link:hover{
    color: var(--first-color-lighten);
    cursor: pointer;
   }
   .nav__icons{
    display: flex;
  
   }
   .dropdown__arrow{
    margin-left: 5px;
   }
   .nav__icons i{
    margin-right: 20px;
    color: var(--black-color);
   }
  .nav__toggle {
    position: relative;
    width: 32px;
    height: 32px;
    visibility: hidden;
  }
  
  
  .dropdown__item{
    position: relative;
  }
  .dropdown__menu{
    width: 10rem;
    height: max-content;
    position: absolute;
    left: 0;
    background-color: var(--white-color);
    opacity: 0;
   
  }
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 2.5rem;
    
   
  }
  .dropdown__link{
  padding: 1.25rem 1.25rem 1.25rem 2.5rem;
  color: var(--black-color);
  background-color: var(--black-color-light);
  display: flex;
  align-items: center;
  column-gap: .2rem;
  transition: background-color .3s;

  }



}


/*Ipads,Tablets*/


/*Small screens,laptops*/


